/* CSS styling elements and classes*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #2e3842;
  color: #fff;
}

h1 {
  font-size: 250%;
  color: #2e3842;
  background-color: #67bac0;
  padding: 10px;
}

h2 {
  margin: 2% 0;
  font-size: 250%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
}


nav a {
  color: #67bac0;
  font-weight: bold;
  text-decoration: underline solid 2px;
  font-size: 125%;
}

.background-photo {
  display: flex;
  justify-content: flex-end;
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/blueStripes.jpg");
  background-position: center;
}

.background-photo div {
  font-size: 250%;
  color: #2e3842;
  background-color: #67bac0;
  padding: 10px;
  font-weight: bold;
}


main {
  display: flex;
  flex: 1 1 0;
  max-width: 1200px;
  margin: 2% auto;
}


/* WORK IN PROGRESS... I'M TRYING MY BEST TO FIGURE THIS
  STUFF OUT WITH SUCH LITTLE TIME THAT WE HAVE!!!
section {
  flex: 1 1 0;
  padding-right: 5%;
}

article {
  border-bottom: 1px solid #d8a47f;
}

article p {
  margin: 2% 0;
  font-size: 110%;
}

article ul {
  margin-left: 5%;
  font-size: 110%;
  list-style: circle;
}

aside {
  width: 25%;
}

aside h2 {
  font-size: 150%;
}


footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #13293d;
  color: #fff;
}

*/

/* Once screen goes below 768px, then do the below actions*/
@media screen and (max-width: 768px) {
  header, main {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  aside {
    width: 100%;
    text-align: center;
  }
}
